In [1]:
import numpy as np
import pandas as pd

df_drinks = pd.read_csv("drinks.csv")
df_cars1 = pd.read_csv("cars1.csv")
df_cars2 = pd.read_csv("cars2.csv")

In [2]:
# Question 1,Section 1

df_drinks.groupby('continent').mean()['beer_servings']

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [3]:
# Question 1,Section 2

df_drinks.groupby('continent').describe()['wine_servings']

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [4]:
# Question 1,Section 3

df_drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

In [5]:
# Question 1,Section 4

df_drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [6]:
# Question 1,Section 5

print("the mean amount of pure alcohol is: ", df_drinks['total_litres_of_pure_alcohol'].mean())
print("the minimum amount of pure alcohol is: ", df_drinks['total_litres_of_pure_alcohol'].min())
print("the maximum amount of pure alcohol is: ", df_drinks['total_litres_of_pure_alcohol'].max())

the mean amount of pure alcohol is:  4.717098445595855
the minimum amount of pure alcohol is:  0.0
the maximum amount of pure alcohol is:  14.4

In [7]:
# Question 2,Section 1

df_cars1 = df_cars1.drop(columns = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'])
df_cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
168,23.0,4,140,83,2639,17.0,75,1,ford pinto
169,20.0,6,232,100,2914,16.0,75,1,amc gremlin
170,23.0,4,140,78,2592,18.5,75,1,pontiac astro
171,24.0,4,134,96,2702,13.5,75,3,toyota corona
172,25.0,4,90,71,2223,16.5,75,2,volkswagen dasher
173,24.0,4,119,97,2545,17.0,75,3,datsun 710
174,18.0,6,171,97,2984,14.5,75,1,ford pinto
175,29.0,4,90,70,1937,14.0,75,2,volkswagen rabbit
176,19.0,6,232,90,3211,17.0,75,1,amc pacer
177,23.0,4,115,95,2694,15.0,75,2,audi 100ls
178,23.0,4,120,88,2957,17.0,75,2,peugeot 504
179,22.0,4,121,98,2945,14.5,75,2,volvo 244dl
180,25.0,4,121,115,2671,13.5,75,2,saab 99le
181,33.0,4,91,53,1795,17.5,75,3,honda civic cvcc
182,28.0,4,107,86,2464,15.5,76,2,fiat 131
183,25.0,4,116,81,2220,16.9,76,2,opel 1900
184,25.0,4,140,92,2572,14.9,76,1,capri ii
185,26.0,4,98,79,2255,17.7,76,1,dodge colt
186,27.0,4,101,83,2202,15.3,76,2,renault 12tl
187,17.5,8,305,140,4215,13.0,76,1,chevrolet chevelle malibu classic
188,16.0,8,318,150,4190,13.0,76,1,dodge coronet brougham
189,15.5,8,304,120,3962,13.9,76,1,amc matador
190,14.5,8,351,152,4215,12.8,76,1,ford gran torino
191,22.0,6,225,100,3233,15.4,76,1,plymouth valiant
192,22.0,6,250,105,3353,14.5,76,1,chevrolet nova
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [8]:
# Question 2,Section 2

print("in car1.csv there are {} entries and {} features".format(df_cars1.shape[0], df_cars1.shape[1]))
print("in car2.csv there are {} entries and {} features".format(df_cars2.shape[0], df_cars2.shape[1]))

in car1.csv there are 198 entries and 9 features
in car2.csv there are 200 entries and 9 features

In [9]:
# Question 2,Section 3

df_cars1_contact_cars2 =  pd.concat([df_cars1, df_cars2], axis=1)
df_cars1_contact_cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8.0,307.0,130,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu,33.0,4,91,53,1795,17.4,76,3,honda civic
1,15.0,8.0,350.0,165,3693.0,11.5,70.0,1.0,buick skylark 320,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,8.0,318.0,150,3436.0,11.0,70.0,1.0,plymouth satellite,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,16.0,8.0,304.0,150,3433.0,12.0,70.0,1.0,amc rebel sst,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.0,8.0,302.0,140,3449.0,10.5,70.0,1.0,ford torino,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
5,15.0,8.0,429.0,198,4341.0,10.0,70.0,1.0,ford galaxie 500,29.5,4,97,71,1825,12.2,76,2,volkswagen rabbit
6,14.0,8.0,454.0,220,4354.0,9.0,70.0,1.0,chevrolet impala,32.0,4,85,70,1990,17.0,76,3,datsun b-210
7,14.0,8.0,440.0,215,4312.0,8.5,70.0,1.0,plymouth fury iii,28.0,4,97,75,2155,16.4,76,3,toyota corolla
8,14.0,8.0,455.0,225,4425.0,10.0,70.0,1.0,pontiac catalina,26.5,4,140,72,2565,13.6,76,1,ford pinto
9,15.0,8.0,390.0,190,3850.0,8.5,70.0,1.0,amc ambassador dpl,20.0,4,130,102,3150,15.7,76,2,volvo 245
10,15.0,8.0,383.0,170,3563.0,10.0,70.0,1.0,dodge challenger se,13.0,8,318,150,3940,13.2,76,1,plymouth volare premier v8
11,14.0,8.0,340.0,160,3609.0,8.0,70.0,1.0,plymouth 'cuda 340,19.0,4,120,88,3270,21.9,76,2,peugeot 504
12,15.0,8.0,400.0,150,3761.0,9.5,70.0,1.0,chevrolet monte carlo,19.0,6,156,108,2930,15.5,76,3,toyota mark ii
13,14.0,8.0,455.0,225,3086.0,10.0,70.0,1.0,buick estate wagon (sw),16.5,6,168,120,3820,16.7,76,2,mercedes-benz 280s
14,24.0,4.0,113.0,95,2372.0,15.0,70.0,3.0,toyota corona mark ii,16.5,8,350,180,4380,12.1,76,1,cadillac seville
15,22.0,6.0,198.0,95,2833.0,15.5,70.0,1.0,plymouth duster,13.0,8,350,145,4055,12.0,76,1,chevy c10
16,18.0,6.0,199.0,97,2774.0,15.5,70.0,1.0,amc hornet,13.0,8,302,130,3870,15.0,76,1,ford f108
17,21.0,6.0,200.0,85,2587.0,16.0,70.0,1.0,ford maverick,13.0,8,318,150,3755,14.0,76,1,dodge d100
18,27.0,4.0,97.0,88,2130.0,14.5,70.0,3.0,datsun pl510,31.5,4,98,68,2045,18.5,77,3,honda accord cvcc
19,26.0,4.0,97.0,46,1835.0,20.5,70.0,2.0,volkswagen 1131 deluxe sedan,30.0,4,111,80,2155,14.8,77,1,buick opel isuzu deluxe
20,25.0,4.0,110.0,87,2672.0,17.5,70.0,2.0,peugeot 504,36.0,4,79,58,1825,18.6,77,2,renault 5 gtl
21,24.0,4.0,107.0,90,2430.0,14.5,70.0,2.0,audi 100 ls,25.5,4,122,96,2300,15.5,77,1,plymouth arrow gs
22,25.0,4.0,104.0,95,2375.0,17.5,70.0,2.0,saab 99e,33.5,4,85,70,1945,16.8,77,3,datsun f-10 hatchback
23,26.0,4.0,121.0,113,2234.0,12.5,70.0,2.0,bmw 2002,17.5,8,305,145,3880,12.5,77,1,chevrolet caprice classic
24,21.0,6.0,199.0,90,2648.0,15.0,70.0,1.0,amc gremlin,17.0,8,260,110,4060,19.0,77,1,oldsmobile cutlass supreme
25,10.0,8.0,360.0,215,4615.0,14.0,70.0,1.0,ford f250,15.5,8,318,145,4140,13.7,77,1,dodge monaco brougham
26,10.0,8.0,307.0,200,4376.0,15.0,70.0,1.0,chevy c20,15.0,8,302,130,4295,14.9,77,1,mercury cougar brougham
27,11.0,8.0,318.0,210,4382.0,13.5,70.0,1.0,dodge d200,17.5,6,250,110,3520,16.4,77,1,chevrolet concours
28,9.0,8.0,304.0,193,4732.0,18.5,70.0,1.0,hi 1200d,20.5,6,231,105,3425,16.9,77,1,buick skylark
29,27.0,4.0,97.0,88,2130.0,14.5,71.0,3.0,datsun pl510,19.0,6,225,100,3630,17.7,77,1,plymouth volare custom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,23.0,4.0,140.0,78,2592.0,18.5,75.0,1.0,pontiac astro,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,24.0,4.0,134.0,96,2702.0,13.5,75.0,3.0,toyota corona,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,25.0,4.0,90.0,71,2223.0,16.5,75.0,2.0,volkswagen dasher,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,24.0,4.0,119.0,97,2545.0,17.0,75.0,3.0,datsun 710,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,18.0,6.0,171.0,97,2984.0,14.5,75.0,1.0,ford pinto,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,29.0,4.0,90.0,70,1937.0,14.0,75.0,2.0,volkswagen rabbit,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,19.0,6.0,232.0,90,3211.0,17.0,75.0,1.0,amc pacer,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,23.0,4.0,115.0,95,2694.0,15.0,75.0,2.0,audi 100ls,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,23.0,4.0,120.0,88,2957.0,17.0,75.0,2.0,peugeot 504,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,22.0,4.0,121.0,98,2945.0,14.5,75.0,2.0,volvo 244dl,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,25.0,4.0,121.0,115,2671.0,13.5,75.0,2.0,saab 99le,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,33.0,4.0,91.0,53,1795.0,17.5,75.0,3.0,honda civic cvcc,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,28.0,4.0,107.0,86,2464.0,15.5,76.0,2.0,fiat 131,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,25.0,4.0,116.0,81,2220.0,16.9,76.0,2.0,opel 1900,36.0,4,107,75,2205,14.5,82,3,honda accord
184,25.0,4.0,140.0,92,2572.0,14.9,76.0,1.0,capri ii,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,26.0,4.0,98.0,79,2255.0,17.7,76.0,1.0,dodge colt,38.0,4,91,67,1965,15.0,82,3,honda civic
186,27.0,4.0,101.0,83,2202.0,15.3,76.0,2.0,renault 12tl,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,17.5,8.0,305.0,140,4215.0,13.0,76.0,1.0,chevrolet chevelle malibu classic,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,16.0,8.0,318.0,150,4190.0,13.0,76.0,1.0,dodge coronet brougham,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,15.5,8.0,304.0,120,3962.0,13.9,76.0,1.0,amc matador,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,14.5,8.0,351.0,152,4215.0,12.8,76.0,1.0,ford gran torino,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6.0,225.0,100,3233.0,15.4,76.0,1.0,plymouth valiant,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,22.0,6.0,250.0,105,3353.0,14.5,76.0,1.0,chevrolet nova,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,24.0,6.0,200.0,81,3012.0,17.6,76.0,1.0,ford maverick,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,22.5,6.0,232.0,90,3085.0,17.6,76.0,1.0,amc hornet,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,29.0,4.0,85.0,52,2035.0,22.2,76.0,1.0,chevrolet chevette,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,24.5,4.0,98.0,60,2164.0,22.1,76.0,1.0,chevrolet woody,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,29.0,4.0,90.0,70,1937.0,14.2,76.0,2.0,vw rabbit,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [10]:
# Question 2,Section 4

random_list = []
rows_number = df_cars1_contact_cars2.shape[0]
for i in range(rows_number):
    random_number = np.random.randint(15000, 73000)
    random_list.append(random_number)
df_cars1_contact_cars2['owners'] = random_list
df_cars1_contact_cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8.0,307.0,130,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu,33.0,4,91,53,1795,17.4,76,3,honda civic,52426
1,15.0,8.0,350.0,165,3693.0,11.5,70.0,1.0,buick skylark 320,20.0,6,225,100,3651,17.7,76,1,dodge aspen se,56268
2,18.0,8.0,318.0,150,3436.0,11.0,70.0,1.0,plymouth satellite,18.0,6,250,78,3574,21.0,76,1,ford granada ghia,61241
3,16.0,8.0,304.0,150,3433.0,12.0,70.0,1.0,amc rebel sst,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj,26935
4,17.0,8.0,302.0,140,3449.0,10.5,70.0,1.0,ford torino,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l,25588
5,15.0,8.0,429.0,198,4341.0,10.0,70.0,1.0,ford galaxie 500,29.5,4,97,71,1825,12.2,76,2,volkswagen rabbit,22390
6,14.0,8.0,454.0,220,4354.0,9.0,70.0,1.0,chevrolet impala,32.0,4,85,70,1990,17.0,76,3,datsun b-210,21209
7,14.0,8.0,440.0,215,4312.0,8.5,70.0,1.0,plymouth fury iii,28.0,4,97,75,2155,16.4,76,3,toyota corolla,39150
8,14.0,8.0,455.0,225,4425.0,10.0,70.0,1.0,pontiac catalina,26.5,4,140,72,2565,13.6,76,1,ford pinto,27677
9,15.0,8.0,390.0,190,3850.0,8.5,70.0,1.0,amc ambassador dpl,20.0,4,130,102,3150,15.7,76,2,volvo 245,24958
10,15.0,8.0,383.0,170,3563.0,10.0,70.0,1.0,dodge challenger se,13.0,8,318,150,3940,13.2,76,1,plymouth volare premier v8,71358
11,14.0,8.0,340.0,160,3609.0,8.0,70.0,1.0,plymouth 'cuda 340,19.0,4,120,88,3270,21.9,76,2,peugeot 504,52153
12,15.0,8.0,400.0,150,3761.0,9.5,70.0,1.0,chevrolet monte carlo,19.0,6,156,108,2930,15.5,76,3,toyota mark ii,33032
13,14.0,8.0,455.0,225,3086.0,10.0,70.0,1.0,buick estate wagon (sw),16.5,6,168,120,3820,16.7,76,2,mercedes-benz 280s,70623
14,24.0,4.0,113.0,95,2372.0,15.0,70.0,3.0,toyota corona mark ii,16.5,8,350,180,4380,12.1,76,1,cadillac seville,68183
15,22.0,6.0,198.0,95,2833.0,15.5,70.0,1.0,plymouth duster,13.0,8,350,145,4055,12.0,76,1,chevy c10,69854
16,18.0,6.0,199.0,97,2774.0,15.5,70.0,1.0,amc hornet,13.0,8,302,130,3870,15.0,76,1,ford f108,15187
17,21.0,6.0,200.0,85,2587.0,16.0,70.0,1.0,ford maverick,13.0,8,318,150,3755,14.0,76,1,dodge d100,38323
18,27.0,4.0,97.0,88,2130.0,14.5,70.0,3.0,datsun pl510,31.5,4,98,68,2045,18.5,77,3,honda accord cvcc,69987
19,26.0,4.0,97.0,46,1835.0,20.5,70.0,2.0,volkswagen 1131 deluxe sedan,30.0,4,111,80,2155,14.8,77,1,buick opel isuzu deluxe,27737
20,25.0,4.0,110.0,87,2672.0,17.5,70.0,2.0,peugeot 504,36.0,4,79,58,1825,18.6,77,2,renault 5 gtl,16839
21,24.0,4.0,107.0,90,2430.0,14.5,70.0,2.0,audi 100 ls,25.5,4,122,96,2300,15.5,77,1,plymouth arrow gs,45612
22,25.0,4.0,104.0,95,2375.0,17.5,70.0,2.0,saab 99e,33.5,4,85,70,1945,16.8,77,3,datsun f-10 hatchback,45523
23,26.0,4.0,121.0,113,2234.0,12.5,70.0,2.0,bmw 2002,17.5,8,305,145,3880,12.5,77,1,chevrolet caprice classic,72237
24,21.0,6.0,199.0,90,2648.0,15.0,70.0,1.0,amc gremlin,17.0,8,260,110,4060,19.0,77,1,oldsmobile cutlass supreme,27527
25,10.0,8.0,360.0,215,4615.0,14.0,70.0,1.0,ford f250,15.5,8,318,145,4140,13.7,77,1,dodge monaco brougham,36987
26,10.0,8.0,307.0,200,4376.0,15.0,70.0,1.0,chevy c20,15.0,8,302,130,4295,14.9,77,1,mercury cougar brougham,47333
27,11.0,8.0,318.0,210,4382.0,13.5,70.0,1.0,dodge d200,17.5,6,250,110,3520,16.4,77,1,chevrolet concours,67937
28,9.0,8.0,304.0,193,4732.0,18.5,70.0,1.0,hi 1200d,20.5,6,231,105,3425,16.9,77,1,buick skylark,58006
29,27.0,4.0,97.0,88,2130.0,14.5,71.0,3.0,datsun pl510,19.0,6,225,100,3630,17.7,77,1,plymouth volare custom,28558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,23.0,4.0,140.0,78,2592.0,18.5,75.0,1.0,pontiac astro,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon,53903
171,24.0,4.0,134.0,96,2702.0,13.5,75.0,3.0,toyota corona,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door,17556
172,25.0,4.0,90.0,71,2223.0,16.5,75.0,2.0,volkswagen dasher,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback,66906
173,24.0,4.0,119.0,97,2545.0,17.0,75.0,3.0,datsun 710,29.0,4,135,84,2525,16.0,82,1,dodge aries se,28695
174,18.0,6.0,171.0,97,2984.0,14.5,75.0,1.0,ford pinto,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix,20782
175,29.0,4.0,90.0,70,1937.0,14.0,75.0,2.0,volkswagen rabbit,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura,38357
176,19.0,6.0,232.0,90,3211.0,17.0,75.0,1.0,amc pacer,23.0,4,151,?,3035,20.5,82,1,amc concord dl,67660
177,23.0,4.0,115.0,95,2694.0,15.0,75.0,2.0,audi 100ls,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l,47092
178,23.0,4.0,120.0,88,2957.0,17.0,75.0,2.0,peugeot 504,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l,32720
179,22.0,4.0,121.0,98,2945.0,14.5,75.0,2.0,volvo 244dl,31.0,4,91,68,1970,17.6,82,3,mazda glc custom,48527
180,25.0,4.0,121.0,115,2671.0,13.5,75.0,2.0,saab 99le,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser,65762
181,33.0,4.0,91.0,53,1795.0,17.5,75.0,3.0,honda civic cvcc,36.0,4,98,70,2125,17.3,82,1,mercury lynx l,65152
182,28.0,4.0,107.0,86,2464.0,15.5,76.0,2.0,fiat 131,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe,39646
183,25.0,4.0,116.0,81,2220.0,16.9,76.0,2.0,opel 1900,36.0,4,107,75,2205,14.5,82,3,honda accord,40352
184,25.0,4.0,140.0,92,2572.0,14.9,76.0,1.0,capri ii,34.0,4,108,70,2245,16.9,82,3,toyota corolla,50449
185,26.0,4.0,98.0,79,2255.0,17.7,76.0,1.0,dodge colt,38.0,4,91,67,1965,15.0,82,3,honda civic,39982
186,27.0,4.0,101.0,83,2202.0,15.3,76.0,2.0,renault 12tl,32.0,4,91,67,1965,15.7,82,3,honda civic (auto),17142
187,17.5,8.0,305.0,140,4215.0,13.0,76.0,1.0,chevrolet chevelle malibu classic,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx,36476
188,16.0,8.0,318.0,150,4190.0,13.0,76.0,1.0,dodge coronet brougham,25.0,6,181,110,2945,16.4,82,1,buick century limited,57924
189,15.5,8.0,304.0,120,3962.0,13.9,76.0,1.0,amc matador,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel),46696
190,14.5,8.0,351.0,152,4215.0,12.8,76.0,1.0,ford gran torino,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion,44644
191,22.0,6.0,225.0,100,3233.0,15.4,76.0,1.0,plymouth valiant,22.0,6,232,112,2835,14.7,82,1,ford granada l,68665
192,22.0,6.0,250.0,105,3353.0,14.5,76.0,1.0,chevrolet nova,32.0,4,144,96,2665,13.9,82,3,toyota celica gt,55949
193,24.0,6.0,200.0,81,3012.0,17.6,76.0,1.0,ford maverick,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2,22277
194,22.5,6.0,232.0,90,3085.0,17.6,76.0,1.0,amc hornet,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro,19015
195,29.0,4.0,85.0,52,2035.0,22.2,76.0,1.0,chevrolet chevette,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,15133
196,24.5,4.0,98.0,60,2164.0,22.1,76.0,1.0,chevrolet woody,44.0,4,97,52,2130,24.6,82,2,vw pickup,39209
197,29.0,4.0,90.0,70,1937.0,14.2,76.0,2.0,vw rabbit,32.0,4,135,84,2295,11.6,82,1,dodge rampage,58673
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,4,120,79,2625,18.6,82,1,ford ranger,22452
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,4,119,82,2720,19.4,82,1,chevy s-10,24014

In [11]:
# Question 3,Section 1

raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df_data_1 = pd.DataFrame(raw_data_1) 

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df_data_2 = pd.DataFrame(raw_data_2)

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
df_data_3 = pd.DataFrame(raw_data_3)

In [12]:
# Question 3,Section 2

df_data_1_contact_df_data_2 = pd.concat([df_data_1, df_data_2])
df_data_1_contact_df_data_2

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [22]:
# Question 3,Section 3

pd.merge(df_data_3, df_data_1_contact_df_data_2, on='subject_id')

  subject_id  test_id first_name last_name
0          1       51       Alex  Anderson
1          2       15        Amy  Ackerman
2          3       15      Allen       Ali
3          4       61      Alice      Aoni
4          4       61      Billy    Bonder
5          5       16     Ayoung   Atiches
6          5       16      Brian     Black
7          7       14      Bryce     Brice
8          8       15      Betty    Btisan

In [25]:
# Question 3,Section 4

pd.merge(df_data_1, df_data_2, how='inner', on='subject_id')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

In [26]:
# Question 3,Section 5

pd.merge(df_data_1, df_data_2, how='outer', on='subject_id')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan

In [16]:
# Question 4,Section 1
   
animal_data = {
        'animal': ['Dog', 'Cat', 'Snake', 'Snake', 'Dog', 'Hamster', 'Cat', 'Alligator', 'Cat', 'Cat', 'Dog', 'Hamster', 'Alligator'],
        'age': [10, 11, 9, 2, 7, 3, 16, 45, 4.5, 9.1, 1, 1.6, 50], 
        'weight': [5.3, 4.5, 95, 33, 20, 0.036, 7.36, 254.5, 8, 4.12, 23.2, 0.024, 278],
        'length': [104.2, 78, 24.8, 240.97, 38.41, 10.45, 45.6, 350.5, 71.69, 63.36, 38.1, 10.48, 222.44]}
df_animal = pd.DataFrame(animal_data)
df_animal

       animal   age   weight  length
0         Dog  10.0    5.300  104.20
1         Cat  11.0    4.500   78.00
2       Snake   9.0   95.000   24.80
3       Snake   2.0   33.000  240.97
4         Dog   7.0   20.000   38.41
5     Hamster   3.0    0.036   10.45
6         Cat  16.0    7.360   45.60
7   Alligator  45.0  254.500  350.50
8         Cat   4.5    8.000   71.69
9         Cat   9.1    4.120   63.36
10        Dog   1.0   23.200   38.10
11    Hamster   1.6    0.024   10.48
12  Alligator  50.0  278.000  222.44

In [17]:
# Question 4,Section 2

animal_groups = df_animal.sort_values(by=['animal'])
animal_groups

       animal   age   weight  length
7   Alligator  45.0  254.500  350.50
12  Alligator  50.0  278.000  222.44
1         Cat  11.0    4.500   78.00
6         Cat  16.0    7.360   45.60
8         Cat   4.5    8.000   71.69
9         Cat   9.1    4.120   63.36
0         Dog  10.0    5.300  104.20
4         Dog   7.0   20.000   38.41
10        Dog   1.0   23.200   38.10
5     Hamster   3.0    0.036   10.45
11    Hamster   1.6    0.024   10.48
2       Snake   9.0   95.000   24.80
3       Snake   2.0   33.000  240.97

In [18]:
# Question 4,Section 3

animal_groups.groupby('animal').mean().loc['Cat', 'weight']

5.995

In [19]:
# Question 4,Section 4

animal_groups.groupby('animal').max().loc['Cat', 'age']

16.0

In [20]:
# Question 4,Section 5

animal_groups['animal'].value_counts()

Cat          4
Dog          3
Snake        2
Hamster      2
Alligator    2
Name: animal, dtype: int64

In [21]:
# Question 4,Section 6

animal_groups['length'].median()

63.36